.about {
    .about__container {
        row-gap: 6rem;

        .about__group {
            position: relative;

            .about__img {
                width: 310px;
                border-radius: .5rem;
            }

            .about__card {
                width: 180px;
                position: absolute;
                right: 0; bottom: -2.5rem;
                background-color: hsla(0, 0%, 100%, .1);
                backdrop-filter: blur(16px);
                padding: 1rem .75rem;
                text-align: center;
                border-radius: 1.25rem;

                .about__card-title {
                    font-size: var(--h3-font-size);
                    margin-bottom: .5rem;
                }

                .about__card-description {
                    font-size: var(--smaller-font-size);
                }
            }
        }

        .about__data {
            .about__title {
                text-align: initial;
                margin-bottom: 2rem;
            }

            .about__description {
                margin-bottom: 2rem;
            }
        }
    }
}