.offer {
    position: relative;

    .offer__container {
        grid-template-rows: max-content 224px;

        .offer__bg {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .offer__data,
        .offer__img {
            position: relative;
        }

        .offer__data {
            text-align: center;

            .offer__title {
                margin-bottom: 2rem;
            }

            .offer__description {
                margin-bottom: 3rem;
            }
        }

        .offer__img {
            position: absolute;
            max-width: initial;
            width: 400px;
            bottom: 2rem;
            right: -5.5rem;
        }
    }
}