@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");
:root {
  --header-height: 3.5rem;
  --first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: hsl(219, 4%, 4%);
  --container-color: hsl(219, 4%, 7%);
  --body-font: 'Exo', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

.shape {
  background-color: rgba(55, 74, 109, 0.5);
  -webkit-filter: blur(112px);
          filter: blur(112px);
  border-radius: 50%;
}

.shape.shape__big {
  width: 400px;
  height: 400px;
}

.shape.shape__small {
  width: 300px;
  height: 300px;
}

.shape.shape__smaller {
  width: 180px;
  height: 180px;
  -webkit-filter: blur(64px);
          filter: blur(64px);
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: .25rem;
  font-size: var(--normal-font-size);
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.header .nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .nav__logo,
.header .nav .nav__toggle {
  color: var(--title-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .nav .nav__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .25rem;
          column-gap: .25rem;
  font-weight: var(--font-medium);
  -webkit-transition: .3s;
  transition: .3s;
}

.header .nav .nav__logo i {
  font-size: 1.25rem;
}

.header .nav .nav__logo:hover {
  color: var(--first-color);
}

.header .nav .nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header .nav .nav__menu {
    position: fixed;
    background-color: #111213;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(96px);
            backdrop-filter: blur(96px);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.header .nav .nav__list .nav__item .nav__link {
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  -webkit-transition: .3s;
  transition: .3s;
}

.header .nav .nav__list .nav__item .nav__link:hover {
  color: var(--first-color);
}

.header .nav .nav__list .nav__item .nav__link.active-link {
  color: var(--first-color);
}

.header .nav .nav__close {
  font-size: 2rem;
  color: var(--white-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.header .nav .show-menu {
  right: 0;
}

.scroll-header {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--body-color);
  -webkit-box-shadow: 0 2px 4px #030303;
          box-shadow: 0 2px 4px #030303;
}

.home {
  position: relative;
  overflow: hidden;
}

.home .shape__big,
.home .shape__small {
  position: absolute;
}

.home .shape__big {
  top: 50%;
  left: -10rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home .shape__small {
  top: 50%;
  right: -10rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home .home__container {
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home .home__container .home__data {
  text-align: center;
}

.home .home__container .home__data .home__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.home .home__container .home__data .home__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}

.home .home__container .home__data .home__elec {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .25rem;
          column-gap: .25rem;
}

.home .home__container .home__data .home__elec i {
  color: var(--first-color);
}

.home .home__container .home__img {
  width: 280px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home .home__container .home__car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  margin-bottom: 2rem;
}

.home .home__container .home__car .home__car-data {
  text-align: center;
}

.home .home__container .home__car .home__car-data .home__car-icon {
  background-color: var(--container-color);
  border-radius: 50%;
  padding: .376rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .875rem;
  margin-bottom: .75rem;
}

.home .home__container .home__car .home__car-data .home__car-name {
  font-size: .625rem;
  font-weight: 400;
  color: var(--text-color-light);
}

.home .home__container .home__car .home__car-data .home__car-number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.home .home__container .home__button {
  position: relative;
  border: 2px solid #08915f;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.home .home__container .home__button::before {
  content: '';
  position: absolute;
  border: 2px solid #02d98a;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 12px #02d98a;
          box-shadow: 0 0 12px #02d98a;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-animation: button 3s infinite;
          animation: button 3s infinite;
}

@-webkit-keyframes button {
  0% {
    -webkit-box-shadow: 0 0 12px #02d98a;
            box-shadow: 0 0 12px #02d98a;
  }
  50% {
    -webkit-box-shadow: 0 0 24px #02d98a;
            box-shadow: 0 0 24px #02d98a;
  }
}

@keyframes button {
  0% {
    -webkit-box-shadow: 0 0 12px #02d98a;
            box-shadow: 0 0 12px #02d98a;
  }
  50% {
    -webkit-box-shadow: 0 0 24px #02d98a;
            box-shadow: 0 0 24px #02d98a;
  }
}

.about .about__container {
  row-gap: 6rem;
}

.about .about__container .about__group {
  position: relative;
}

.about .about__container .about__group .about__img {
  width: 310px;
  border-radius: .5rem;
}

.about .about__container .about__group .about__card {
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  padding: 1rem .75rem;
  text-align: center;
  border-radius: 1.25rem;
}

.about .about__container .about__group .about__card .about__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.about .about__container .about__group .about__card .about__card-description {
  font-size: var(--smaller-font-size);
}

.about .about__container .about__data .about__title {
  text-align: initial;
  margin-bottom: 2rem;
}

.about .about__container .about__data .about__description {
  margin-bottom: 2rem;
}

.popular .popular__container {
  padding-top: 1rem;
}

.popular .popular__container .popular__card {
  position: relative;
  width: 238px;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

.popular .popular__container .popular__card .shape__smaller {
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}

.popular .popular__container .popular__card .popular__title,
.popular .popular__container .popular__card .popular__subtitle,
.popular .popular__container .popular__card .popular__img {
  position: relative;
}

.popular .popular__container .popular__card .popular__title {
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}

.popular .popular__container .popular__card .popular__subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}

.popular .popular__container .popular__card .popular__img {
  width: 160px;
  margin: .75rem 0 1.25rem 1.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.popular .popular__container .popular__card .popular__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  gap: .5rem 1.25rem;
  margin-bottom: 2rem;
}

.popular .popular__container .popular__card .popular__data .popular__data-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  font-size: var(--smaller-font-size);
  color: var(--white-color);
}

.popular .popular__container .popular__card .popular__data .popular__data-group i {
  font-size: 1rem;
}

.popular .popular__container .popular__card .popular__price {
  font-size: var(--h3-font-size);
}

.popular .popular__container .popular__card .popular__button {
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}

.popular .popular__container .popular__card .popular__button i {
  font-size: 1.25rem;
}

.popular .popular__container .popular__card:hover .popular__img {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.popular .swiper-pagination-bullet {
  background: var(--text-color);
}

.popular .swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

.features {
  overflow: hidden;
  position: relative;
}

.features .features__container {
  padding-top: 2rem;
  -ms-grid-columns: 400px;
      grid-template-columns: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .features__container .features__group {
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 10;
}

.features .features__container .features__group .features__img {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.features .features__container .features__group .features__card {
  width: 112px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  color: var(--title-color);
  position: absolute;
}

.features .features__container .features__group .features__card.features__card-1 {
  top: 4rem;
  left: 1.5rem;
}

.features .features__container .features__group .features__card.features__card-2 {
  top: 8rem;
  right: 1rem;
}

.features .features__container .features__group .features__card.features__card-3 {
  left: 1.5rem;
  bottom: 2rem;
}

.features .features__container .features__group .features__card .features__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}

.features .features__container .features__group .features__card .features__card-description {
  font-size: var(--smaller-font-size);
}

.features .features__map {
  max-width: initial;
  width: 550px;
  position: absolute;
  top: 11rem;
  left: -3rem;
  margin: auto;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  opacity: .2;
}

.featured .featured__container {
  padding-top: 1rem;
}

.featured .featured__container .featured__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 3.5rem;
}

.featured .featured__container .featured__filters .featured__item span,
.featured .featured__container .featured__filters .featured__item img {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.featured .featured__container .featured__filters .featured__item {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  padding: .75rem;
  border-radius: .75rem;
  background-color: var(--container-color);
  color: var(--white-color);
  font-size: var(--normal-font-size);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.featured .featured__container .featured__filters .featured__item img {
  width: 1.5rem;
}

.featured .featured__container .featured__filters .featured__item:hover {
  background-color: var(--first-color);
}

.featured .featured__container .featured__filters .featured__item:hover span,
.featured .featured__container .featured__filters .featured__item:hover img {
  opacity: 1;
}

.featured .featured__container .featured__filters .featured__item.active-featured {
  background-color: var(--first-color);
}

.featured .featured__container .featured__filters .featured__item.active-featured span,
.featured .featured__container .featured__filters .featured__item.active-featured img {
  opacity: 1;
}

.featured .featured__container .featured__content {
  -ms-grid-columns: 228px;
      grid-template-columns: 228px;
  row-gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured .featured__container .featured__content .featured__card {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

.featured .featured__container .featured__content .featured__card .shape__smaller {
  position: absolute;
  inset: 0;
  margin: auto;
}

.featured .featured__container .featured__content .featured__card .featured__title,
.featured .featured__container .featured__content .featured__card .featured__subtitle,
.featured .featured__container .featured__content .featured__card .featured__img {
  position: relative;
}

.featured .featured__container .featured__content .featured__card .featured__title {
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}

.featured .featured__container .featured__content .featured__card .featured__subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}

.featured .featured__container .featured__content .featured__card .featured__img {
  width: 180px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 1.5rem 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.featured .featured__container .featured__content .featured__card .featured__price {
  font-size: var(--h3-font-size);
}

.featured .featured__container .featured__content .featured__card .featured__button {
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}

.featured .featured__container .featured__content .featured__card .featured__button i {
  font-size: 1.25rem;
}

.featured .featured__container .featured__content .featured__card:hover .featured__img {
  -webkit-transform: translateX(-0.25rem);
          transform: translateX(-0.25rem);
}

.offer {
  position: relative;
}

.offer .offer__container {
  -ms-grid-rows: max-content 224px;
      grid-template-rows: -webkit-max-content 224px;
      grid-template-rows: max-content 224px;
}

.offer .offer__container .offer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.offer .offer__container .offer__data,
.offer .offer__container .offer__img {
  position: relative;
}

.offer .offer__container .offer__data {
  text-align: center;
}

.offer .offer__container .offer__data .offer__title {
  margin-bottom: 2rem;
}

.offer .offer__container .offer__data .offer__description {
  margin-bottom: 3rem;
}

.offer .offer__container .offer__img {
  position: absolute;
  max-width: initial;
  width: 400px;
  bottom: 2rem;
  right: -5.5rem;
}

.logos .logos__container {
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  padding-bottom: 2rem;
}

.logos .logos__container .logos__img {
  width: 40px;
  opacity: .4;
  -webkit-transition: .3s;
  transition: .3s;
}

.logos .logos__container .logos__img:hover {
  opacity: 1;
}

.footer {
  position: relative;
  overflow: hidden;
}

.footer .shape__big,
.footer .shape__small {
  position: absolute;
}

.footer .shape__big {
  width: 300px;
  height: 300px;
  left: -12rem;
  top: 6rem;
}

.footer .shape__small {
  right: -13rem;
  bottom: -6rem;
}

.footer .footer__container {
  row-gap: 2.5rem;
  position: relative;
}

.footer .footer__container .footer__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .25rem;
          column-gap: .25rem;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.25rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .footer__container .footer__logo i {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer .footer__container .footer__logo:hover {
  color: var(--first-color);
}

.footer .footer__container .footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer .footer__container .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: .5rem;
}

.footer .footer__container .footer__link,
.footer .footer__container .footer__social-link {
  color: var(--text-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .footer__container .footer__link:hover,
.footer .footer__container .footer__social-link:hover {
  color: var(--first-color);
}

.footer .footer__container .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.footer .footer__container .footer__social .footer__social-link {
  font-size: 1.25rem;
}

.footer .footer__copy {
  display: block;
  margin-top: 2.5rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

::-webkit-scrollbar {
  width: .6rem;
  background-color: #27282a;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3c40;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4e5155;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .45rem;
  border-radius: .5rem;
  font-size: 1.15rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  -webkit-transition: .4s;
  transition: .4s;
}

.scrollup:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.scrollup.show-scroll {
  bottom: 3rem;
}

@media screen and (max-width: 430px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .home .home__container .home__car {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .about .about__container .about__group .about__card {
    width: 150px;
  }
  .features .features__container {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
  .features .features__container .features__group .features__card.features__card-1 {
    top: -1rem;
    left: -1rem;
  }
  .features .features__container .features__group .features__card.features__card-2 {
    top: 4rem;
    right: -1rem;
  }
  .features .features__container .features__group .features__card.features__card-3 {
    bottom: -2rem;
  }
  .features .features__map {
    width: 400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .offer .offer__container {
    -ms-grid-rows: max-content 180px;
        grid-template-rows: -webkit-max-content 180px;
        grid-template-rows: max-content 180px;
  }
  .offer .offer__container .offer__data {
    margin-bottom: 3rem;
  }
  .offer .offer__container .offer__img {
    width: 280px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logos .logos__container {
    gap: 3.5rem;
  }
}

@media (min-width: 431px) and (max-width: 575px) {
  .about .about__group {
    width: 340px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .features .features__map {
    width: 460px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .offer .offer__container {
    -ms-grid-rows: max-content 200px;
        grid-template-rows: -webkit-max-content 200px;
        grid-template-rows: max-content 200px;
  }
  .offer .offer__container .offer__data {
    margin-bottom: 5rem;
  }
  .offer .offer__container .offer__img {
    width: 320px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 576px) {
  .about__group {
    width: 380px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .features .features__map {
    left: 0;
    right: 0;
  }
  .featured .featured__container .featured__content {
    -ms-grid-columns: (228px)[2];
        grid-template-columns: repeat(2, 228px);
  }
  .offer .offer__container {
    -ms-grid-rows: initial;
        grid-template-rows: initial;
    -ms-grid-columns: .5fr;
        grid-template-columns: .5fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer .offer__container .offer__data {
    margin-bottom: 4rem;
  }
  .offer .offer__container .offer__img {
    position: relative;
    bottom: initial;
    right: initial;
  }
  .features .features__map {
    top: 9rem;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 7rem 0 2rem;
  }
  .header .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .header .nav .nav__toggle,
  .header .nav .nav__close {
    display: none;
  }
  .header .nav .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    padding-top: 0;
  }
  .header .nav .nav__list .nav__item .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .about .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .features .features__container .features__group .features__card.features__card-1 {
    top: -1rem;
  }
  .features .features__container .features__group .features__card.features__card-2 {
    top: 4rem;
    right: -2rem;
  }
  .features .features__container .features__group .features__card.features__card-3 {
    bottom: -1rem;
  }
  .logos .logos__container {
    gap: 4rem 8rem;
  }
  .footer .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home .shape__big {
    width: 450px;
    height: 450px;
  }
  .home .shape__small {
    width: 450px;
    height: 450px;
  }
  .home .home__container {
    padding-top: 1rem;
  }
  .home .home__container .home__img {
    width: 450px;
  }
  .home .home__container .home__car {
    -webkit-column-gap: 7rem;
            column-gap: 7rem;
  }
  .home .home__container .home__car .home__car-data .home__car-icon {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .about .about__container {
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__container .about__group {
    width: 480px;
  }
  .about .about__container .about__group .about__img {
    width: 480px;
  }
  .about .about__container .about__group .about__card {
    width: 198px;
    padding: 1rem 1.25rem;
  }
  .about .about__container .about__data .about__description {
    padding-right: 4rem;
    margin-bottom: 3rem;
  }
  .popular .popular__container {
    width: 875px;
    padding-top: 3rem;
  }
  .popular .popular__container .popular__card {
    width: 258px;
    border-radius: 1.25rem;
    margin-bottom: 5rem;
  }
  .popular .popular__container .popular__card .popular__img {
    width: 180px;
    margin: .75rem 0 1.25rem 2rem;
  }
  .features .features__container {
    padding: 1rem 0 3rem;
    -ms-grid-columns: 500px;
        grid-template-columns: 500px;
  }
  .features .features__container .features__group .features__img {
    width: 100%;
  }
  .features .features__container .features__group .features__card {
    width: 127px;
    padding: .75rem 1rem;
  }
  .features .features__container .features__group .features__card.features__card-1 {
    left: -1rem;
    top: -1rem;
  }
  .features .features__container .features__group .features__card.features__card-2 {
    right: -4rem;
    top: 6rem;
  }
  .features .features__container .features__group .features__card.features__card-3 {
    bottom: -1rem;
    left: -1rem;
  }
  .features .features__map {
    width: 650px;
    top: 11rem;
  }
  .featured .featured__container {
    padding-bottom: 2.5rem;
  }
  .featured .featured__container .featured__filters {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    margin-bottom: 4.5rem;
  }
  .featured .featured__container .featured__filters .featured__item {
    width: 52px;
    height: 52px;
  }
  .featured .featured__container .featured__filters .featured__item img {
    width: 2rem;
  }
  .featured .featured__container .featured__content {
    -ms-grid-columns: (248px)[3];
        grid-template-columns: repeat(3, 248px);
    gap: 4rem;
  }
  .offer .offer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2rem;
  }
  .offer .offer__container .offer__data,
  .offer .offer__container .offer__title {
    text-align: initial;
  }
  .offer .offer__container .offer__data {
    margin-bottom: 0;
  }
  .offer .offer__container .offer__data .offer__description {
    padding-right: 6rem;
  }
  .offer .offer__container .offer__img {
    width: 350px;
    right: -4rem;
  }
  .logos .logos__container {
    -ms-grid-columns: (max-content)[6];
        grid-template-columns: repeat(6, -webkit-max-content);
        grid-template-columns: repeat(6, max-content);
  }
  .logos .logos__container .logos__img {
    width: 50px;
  }
  .footer .footer__container {
    -ms-grid-columns: (max-content)[4];
        grid-template-columns: repeat(4, -webkit-max-content);
        grid-template-columns: repeat(4, max-content);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer__container .footer__logo {
    -webkit-column-gap: .5rem;
            column-gap: .5rem;
  }
  .footer .footer__container .footer__logo i {
    font-size: 2rem;
  }
  .footer .footer__container .footer__title {
    margin-bottom: 1.5rem;
  }
  .footer .footer__container .footer__links {
    row-gap: .75rem;
  }
  .footer .footer__container .footer__social .footer__social-link {
    font-size: 1.5rem;
  }
  .footer .footer__copy {
    margin-top: 6rem;
    padding-bottom: 1rem;
  }
  .scrollup {
    right: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */